#entrySignIn{
  padding: 40px;
  input{
    padding-left: 40px;
    color: #333333 !important;
  }
  #errorMessages{
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 14px;
    box-sizing: border-box;
    width: 100.5%;
    margin-bottom: 15px;
    color: red;
    font-weight: bold;
  }

  .disabledButton {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
  }


}