<template name="ohifViewer">
    {{#header brandHref='http://ohif.org' headerClasses=instance.headerClasses}}
        {{#section 'brand'}}
            <svg class="logo-image">
                <use xlink:href={{absoluteUrl "packages/ohif_viewerbase/assets/icons.svg#icon-ohif-logo"}}></use>
            </svg>
            <div class="logo-text">Open Health Imaging Foundation</div>
        {{/section}}
        {{#section 'headerAfterBrand'}}
            {{#if studyListToggleText}}
                <a href="#" class="btn studyListLinkSection pull-left js-toggle-studyList">
                    {{studyListToggleText}}
                </a>
            {{/if}}
        {{/section}}
        {{#section 'headerMenu'}}
            <span class="research-use pull-left m-r-1">
                INVESTIGATIONAL USE ONLY
            </span>
            <span class="header-options pull-left m-r-1">Options</span>
            <div class="menu-toggle pull-right">
                <span class="caret-down"></span>
            </div>
        {{/section}}
    {{/header}}

    {{>Template.dynamic template=(choose this.template 'studylist') data=this}}
</template>
