.header-brand {
  height: 30px;
  text-decoration: none;
  text-decoration-color: none;

  display: flex;
  color: var(--text-primary-color);
  font-size: 14px;
  font-weight: var(--logo-font-weight);
  font-family: var(--logo-font-family);
}

.header-brand:hover,
.header-brand:active,
.header-band:visited {
  color: var(--text-primary-color);
  text-decoration: none;
}

.header-logo-text {
  line-height: 30px;
  margin-left: 8px;
}

.header-logo-image {
  height: 30px;
  width: 30px;
  font-size: 30px;
}
