.labelmap-container {
  color: white;
  min-height: 200px;
  background-color: var(--primary-background-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.labelmap-container h3 {
  padding-left: 20px;
  margin-top: 0;
}

.segmentation-item {
  display: flex;
  justify-content: start;
  margin: 0;
}

.segment-color-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.segment-color {
  margin-top: 8px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.segment-item .segment-info {
  display: inline-block;
  margin-top: 9px;
  padding-left: 9px;
  width: 90px;
  border-left: 1px solid var(--text-secondary-color);
  color: var(--text-primary-color);
  width: 100%;
}

.segment-item .segment-label {
  overflow: hidden;
  max-width: calc(100% - 50px);
  text-overflow: ellipsis;
  overflow-wrap: normal;
  white-space: nowrap;
}

.segment-item.selected .segment-actions {
  height: 35px;
  visibility: visible;
}

.segmentations {
  padding: 0 20px 20px 20px;
}

.segment-item .segment-actions {
  margin-left: -1px;
  background-color: var(--ui-gray-darker);
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  visibility: hidden;
  padding-left: 14px;
}

.segment-item .segment-actions .btnAction {
  background-color: transparent;
  border: none;
  color: var(--default-color);
  cursor: pointer;
  line-height: 35px;
  height: 35px;
  transition: all 0.3s ease;
}

.segment-item .segment-actions .btnAction:hover, segment-item .segment-actions .btnAction:active {
  color: var(--text-primary-color);
}

.segment-item .segment-actions .btnAction i {
  margin-right: 4px;
}

.brush-radius label {
  display: block;
  margin-bottom: 8px;
}

.cog-icon {
  margin: 20px 20px 0 0;
  align-self: flex-end;
  color: var(--default-color);
  cursor: pointer;
}

.cog-icon:hover {
  color: var(--hover-color);
}

.segmentation-icon {
  margin-right: 8px;
  margin-top: 12px;
  min-width: 14px;
}

.segmentation-meta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.segmentation-meta-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  max-width: calc(100% - 30px);
}

.segmentation-meta-description {
  font-size: 12px;
  color: var(--text-secondary-color);
}

.selector-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 150px;
}

.selector-form>div {
  width: 100%;
}

.selector-form>div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selector-buttons {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selector-buttons button:last-of-type {
  margin-left: 5px;
}

.selector-active-segment {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

.tableList .tableListHeader .numberOfItems {
  float: unset;
  max-width: unset;
  flex: unset;
  margin-right: 16px;
}
