.segmentation-settings {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.range label {
  display: block;
  margin-bottom: 8px;
}

.settings-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.settings-title h3 {
  color: var(--text-primary-color);
  margin: 0;
  padding: 0;
}

.settings-group {
  display: flex;
  flex-direction: column;
  color: var(--text-primary-color);
  font-size: 12px;
}

.settings-group .range {
  display: flex;
  padding-left: 20px;
}

.settings-group .range:not(:last-of-type) {
  margin-bottom: 10px;
}

.settings-group .range label {
  margin: 0;
  display: unset;
  min-width: 40px;
  max-width: 40px;
}

.settings-group .range input {
  width: 100%;
  padding: 0 20px 0 20px;
}

.custom-check {
  margin-bottom: 10px;
}

.custom-check label {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-check input {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.custom-check span {
  min-width: 90px;
  max-width: 90px;
}
