.imageViewerViewport.empty ~ .WarningsViewportOverlay {
  display: none;
}
.WarningsViewportOverlay {
  color: #9ccef9;
}
.WarningsViewportOverlay .overlay-element {
  position: absolute;
  font-weight: 400;
  text-shadow: 1px 1px #000;
  pointer-events: none;
}
.WarningsViewportOverlay .top-left {
  top: 20px;
  left: 20px;
}
.WarningsViewportOverlay .top-center {
  top: 20px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
.WarningsViewportOverlay .top-right {
  top: 20px;
  right: 20px;
  text-align: right;
}
.WarningsViewportOverlay .bottom-left {
  bottom: 20px;
  left: 20px;
}
.WarningsViewportOverlay .bottom-left2 {
  bottom: 200px;
  left: 20px;
}
.WarningsViewportOverlay .bottom-right {
  bottom: 20px;
  right: 20px;
  text-align: right;
}
.WarningsViewportOverlay.controlsVisible .topright,
.WarningsViewportOverlay.controlsVisible .bottomright {
  right: calc(20px + 19px);
}
.WarningsViewportOverlay .warning {
  position: absolute;
  font-weight: 400;
  text-shadow: 1px 1px #000;
  pointer-events: inherit;
}

.WarningsViewportOverlay .warning svg {
  opacity: 1;
  color: #e29e4a;
  fill: #e29e4a;
  stroke: #e29e4a;
  width: 64px;
  height: 56px;
}

.WarningsViewportOverlay svg {
  color: #9ccef9;
  fill: #9ccef9;
  stroke: #9ccef9;
  background-color: transparent;
  margin: 2px;
  width: 18px;
  height: 18px;
}
