.dicom-tag-browser-table {
  margin-right: auto;
  margin-left: auto;
}

.dicom-tag-browser-table-wrapper {
  margin-top: 20px;
  overflow-y: auto;
  flex-grow: 1;
  max-height: calc(100% - 120px);
}

.dicom-tag-browser-table tr {
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  border-top: 1px solid #ddd;
  white-space: nowrap;
}

.stick {
  position: sticky;
  overflow: clip;
}

.dicom-tag-browser-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

.dicom-tag-browser-instance-range .range {
  height: 20px;
}

.dicom-tag-browser-instance-range {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.dicom-tag-browser-instance-range p {
  margin-top: 10px;
  text-align: center;
}

.dicom-tag-browser-table td,
.dicom-tag-browser-table th {
  padding: 4px 8px;
  border: 1px solid var(--ui-border-color-dark, #3b3b3b);
  text-align: left;
}

.dicom-tag-browser-table-left {
  text-align: left;
}

.dicom-tag-browser-table-center {
  text-align: center;
}

.dicom-tag-browser-table th {
  position: sticky;
  top: 0;
  background: var(--ui-gray-dark, #454545);
  z-index: 1;
}

/* Add some styling for the select dropdown */
.dicom-browser-select {
  width: 100%;
}

/* Style for alternating rows 
.dicom-tag-browser-table tbody tr:nth-child(even) {
  background-color: var(--ui-gray-darkest, #242424);
}

.dicom-tag-browser-table tbody tr:hover {
  background-color: var(--ui-gray-darker, #2c2c2c);
}
*/