# Reduces size of context and hides
# files from Docker (can't COPY or ADD these)

# Output
dist/
build/

# Dependencies
node_modules/

# Root
README.md
Dockerfile
dockerfile

# Misc. Config
.git
.DS_Store
.gitignore
.vscode
.circleci

# Unnecessary things to pull into container
.circleci/
.github/
.netlify/
.scripts/
.vscode/
coverage/
docs/
