[submodule "Packages-react/ohif-core"]
	path = Packages-react/ohif-core
	url = git@github.com:OHIF/ohif-core.git
[submodule "Packages-react/react-viewerbase"]
	path = Packages-react/react-viewerbase
	url = git@github.com:OHIF/react-viewerbase.git
[submodule "Packages-react/react-cornerstone-viewport"]
	path = Packages-react/react-cornerstone-viewport
	url = git@github.com:cornerstonejs/react-cornerstone-viewport.git