# Packages
node_modules

# Output
build
dist
docs/_book
src/version.js
junit.xml
coverage/
*.js.map
.yarn
platform/docs/.docusaurus
platform/ui/storybook-static

# YALC (for Erik)
.yalc
yalc.lock

# Logging, System files, misc.
.idea/
.npm
npm-debug.log
package-lock.json
yarn-error.log
.DS_Store
.env

# Common Example Data Directories
sampledata/
example/deps/
docker/dcm4che/dcm4che-arc

# Cypress test results
videos/
screenshots/

# Locize settings
.locize
