body
  background-color: black

/* Mobile devices */
@media only screen and (min-device-width : 375px) and (max-device-width : 768px)
  .logoContainer
    width: 15%

  .navbar-brand
    img
      height: 20px
      margin-top: 10px
      margin-bottom: 10px
      margin-right: 5px

    h4.name
      padding: 1px
      font-size: 0.3em
      width: 50%

  table#tblStudyList
    table-layout: fixed
    font-size: 0.7em

  #tablist
    width: 85%
    overflow-x: auto

  #toolbar .btn-group button
    width: 40px
    height: 40px

  .studyDateList
    margin-top: 5px

@media (max-device-width: 667px)
  #toolbar .btn-group button
    width: 35px
    height: 35px