body
  background-color: #202020

.tab-content {
  height: calc(100% - 40px);
}

table#tblStudyList thead > tr {
 background-color: #424242;
  color: white;
}
table#tblStudyList tbody > tr:nth-child(even) {
   background-color: #888;
   color: black;
 }
table#tblStudyList tbody > tr:nth-child(odd) {
  background-color: #BBB;
  color: black;
}
table#tblStudyList tbody > tr:hover{
  background-color: #009BD2
  color: white
}

table#tblStudyList tbody > tr > td{
  word-wrap: break-word
}


/* Toolbar Styles */

/* iphone6 Portrait */

  @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {

    table#tblStudyList {
      table-layout: fixed
      font-size: 0.4em
    }


    #tablist {
      width: 84%;
      overflow-x: auto;

    }
    #toolbar .btn-group button {
      width: 35px;
      height: 35px;
    }

  }

/* iphone6 Plus Portrait */

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
  #tablist {
    width: 84%;
    overflow-x: auto;
  }

  #toolbar .btn-group button {
    width: 40px;
    height: 40px;
  }

}

