
/* Mobile devices */

@media only screen and (min-device-width : 375px) and (max-device-width : 768px) and (orientation : portrait) {

    table#tblStudyList {
        table-layout: fixed;
        font-size: 0.7em;
    }

    #tablist {
        width: 84%;
        overflow-x: auto;

    }
    #toolbar .btn-group button {
        width: 40px;
        height: 40px;
    }
}

@media (max-device-width: 667px) {
    #toolbar .btn-group button {
        width: 35px;
        height: 35px;
    }
}