<template name="userPreferencesDialog">
    {{#dialogSimple (extend this class='themed' dialogClass='dialog-user-preferences modal-lg' title='User Preferences')}}
        <div class="dialog-separator-after">
            <ul class="nav nav-tabs">
                <li role="presentation" class="{{tabClasses 'hotkeys'}}">
                    <a href="#" data-id="hotkeys">Keyboard Shortcuts</a>
                </li>
                <li role="presentation" class="{{tabClasses 'wwwc'}}">
                    <a href="#" data-id="wwwc">Window/Levels</a>
                </li>
            </ul>
        </div>
        <div class="{{#unless eq instance.activeTab.get 'hotkeys'}}hidden{{/unless}}">
            {{>hotkeysForm (extend contextName='viewer')}}
        </div>
        <div class="{{#unless eq instance.activeTab.get 'wwwc'}}hidden{{/unless}}">
            {{>windowLevelPresetsForm}}
        </div>
    {{/dialogSimple}}
</template>
