@require '{ohif:design}/app'

.dialog-user-preferences

  .modal-body
    overflow: hidden

  .form-content
    theme('border-bottom', '1px solid $uiBorderColor')
    margin-bottom: 10px
    margin-left: -15px
    margin-right: -15px
    max-height: 70vh
    overflow-y: auto
    padding: 15px

  .popover
    width: 300px

  .nav-tabs
    border-bottom: 0
    margin-bottom: 3px
    position: relative
    z-index: 1

    &>li
      font-size: 14px
      font-weight: normal
      height: 40px
      line-height: 40px
      margin-bottom: 0

      &>a
        display: block
        width: 100%
        line-height: inherit
        margin: 0
        height: inherit
        padding: 0 10px 0 10px

        &:after
          background-color: transparent
          bottom: -3px
          content: ' '
          display: block
          height: 3px
          transition(background-color 0.3s ease)
          width: 100%

      &>a, &.active>a
        &, &:hover, &:active, &:focus
          theme('color', '$activeColor')
          background-color: transparent
          border: 0

      &.active>a
        font-weight: bold

        &:after
          theme('background-color', '$activeColor')

  .form-themed

    table
      color: #fff

      th, td
        font-size: 14px
        font-weight: 300

      th
        line-height: 60px

      td
        line-height: 20px


    input[type=text]
      font-weight: 300
