##
# EXAMPLE
#
# Read more about .env files when using create-react-app here:
# https://facebook.github.io/create-react-app/docs/adding-custom-environment-variables#adding-development-environment-variables-in-env
#

PUBLIC_URL=/demo/
APP_CONFIG=config/netlify.js
