@require '{ohif:design}/app'

.dialog-user-preferences

  .form-content
    margin-bottom: 10px
    margin-left: -15px
    margin-right: -15px
    max-height: 70vh
    overflow-y: auto
    padding: 15px

  .popover
    width: 300px
