@import './../../design/styles/common/form.styl'
@import './../../design/styles/common/navbar.styl'
@import './../../design/styles/common/state.styl'
@import './../../design/styles/common/global.styl'

.modal-body
  overflow: hidden

.errorMessage
  color: var(--state-error-text)
  font-size: 10px
  text-transform: uppercase;

.form-content
  border-bottom: 3px solid var(--primary-background-color)
  margin-bottom: 20px
  margin-left: -22px
  margin-right: -22px
  max-height: 70vh
  overflow-y: auto
  padding: 22px
  min-height: 500px

.popover
  width: 300px
