.AIPredictionTable {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.AIPredictionTable .displayTexts {
  display: flex;
}

.AIPredictionTable .displayTexts .measurementDisplayText {
  flex: 1;
}

.AIPredictionTable .predictionTableHeader {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 38px 0;
}

.AIPredictionTable .predictionTableHeader .roundedButton.first {
  padding-left: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-right: 10px;
}

.AIPredictionTable .predictionTableHeader .roundedButton.first:not(.active), .AIPredictionTable .predictionTableHeader .roundedButton.second:not(.active) {
  border: 2px solid var(--active-color);
}

.AIPredictionTable .predictionTableHeader .roundedButton.second {
  padding-right: 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 10px;
}


.AIPredictionTable .predictionTableHeader .warning-status {
  left: 0;
  top: 3px;
  cursor: pointer;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}

.AIPredictionTable .predictionTableHeader .warning-status .warning-border {
  padding: 2px 3px;
  width: 30px;
  height: 30px;
}

.AIPredictionTable .predictionTableHeader .warning-status svg {
  width: 20px;
  height: 18px;
}

.AIPredictionTable .predictionTableHeader .predictionTableItem {
  position: relative;
  flex: 1;
}

.AIPredictionTable .generate-report {
  background-color: #151a1f;
  margin-top: 2px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AIPredictionTable .generate-report button {
  font-size: 12px;
  color: black;
  background-color: var(--active-color);
}

.AIPredictionTable #predictionTableContainer #ai-section-wrapper {
  padding: 20px 15px;
  color: white;
}

.AIPredictionTable #predictionTableContainer #ai-section-wrapper select {
  background: #151a1f;
}

.AIPredictionTable #predictionTableContainer #ai-section-wrapper p, .AIPredictionTable #predictionTableContainer #ai-section-wrapper label{
  font-weight: bold;
  color: #9ccef9;
}

.AIPredictionTable #predictionTableContainer #ai-section-wrapper table .text-bold{
  font-weight: bold;
  color: #9ccef9;
}

.AIPredictionTable #predictionTableContainer #ai-section-wrapper table td {
  border-top: 1px solid #455a64;
}

.AIPredictionTable #predictionTableContainer #ai-section-wrapper form .form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AIPredictionTable #predictionTableContainer #ai-section-wrapper form .form-group .ai-magic-button {
  display: flex;
  justify-content: center;
}

.AIPredictionTable #predictionTableContainer #ai-section-wrapper form .form-group button {
  width: 150px;
  margin-top: 10px;
  border-radius: 12px;
  background-color: #20a5d6;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper {
  padding: 20px 15px;
  color: white;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper label{
  font-weight: bold;
  color: #9ccef9;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper .text-bold{
  font-weight: bold;
  color: #9ccef9;
  margin-top: 5px;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper .no-results-available{
  color: white;
  text-align: center;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper .form-group{
  padding-bottom: 25px;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper .result-individual-section {
  padding: 7px;
  border-top: 1px solid #455a64;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper .result-individual-section p:not(.text-bold) {
  margin-bottom: 8px;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper table td {
  border-top: 1px solid #455a64;
}
.AIPredictionTable #predictionTableContainer #results-section-wrapper .report-section {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper .report-section #report-text.report{
  width: 100%;
  height: 150px;
  min-height: 150px;
  border: 2px solid #3c5d80;
  border-radius: 10px;
  color: #91b9cd;
  padding: 5px 8px;
  background-color: #16202b;
  resize: vertical;
}

.AIPredictionTable #predictionTableContainer #results-section-wrapper .report-section button.btn {
  width: 150px;
  margin-top: 10px;
  border-radius: 12px;
  background-color: #20a5d6;
}

.AIPredictionTable #predictionTableContainer .tabs{
  color: white;
}

.AIPredictionTable #predictionTableContainer .tabs ol{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.AIPredictionTable #predictionTableContainer .tabs ol li{
  align-items: center;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  justify-content: center;
  height: 25px;
  line-height: 25px;
  padding: 0 22px;
  border: 2px solid #3c5d80;
  color: #91b9cd;
  position: relative;
  background-color: #16202b;
  text-transform: uppercase;
  cursor: pointer;
}

.AIPredictionTable #predictionTableContainer .tabs ol li.tab-list-item:first-of-type{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.AIPredictionTable #predictionTableContainer .tabs ol li.tab-list-item:last-of-type{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.AIPredictionTable #predictionTableContainer .tabs ol li.tab-list-active{
  color: #16202b;
  border-color: #00a4d9;
  background-color: #20a5d6;
  z-index: 2;
}

#report-section-wrapper{
  display: flex;
  flex-direction: column;
}

#report-section-wrapper .diagnosisReportModalHeader{
  padding: 10px 0 10px;
  color: var(--active-color);
}

#report-section-wrapper table td{
  word-break: break-word;
}