.xnat-settings
  display: flex
  flex-direction: column
  padding: 10px
  color: white

  .settings-title
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding-bottom: 20px

    h3
      color: var(--text-primary-color)
      margin: 0
      padding: 0

  .settings-section

    .content
      padding: 10px 10px 5px 10px
      background-color: var(--ui-gray-dark)
      border-radius: 5px
      margin-bottom: 15px

    .header
      border-bottom: 2px solid black
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      background-color: var(--ui-gray-dark)
      border-radius: 5px
      font-weight: bold
      font-size: 14px
      padding: 5px 15px

    p
      color: var(--text-secondary-color)
      margin: 5px
      font-size: smaller

  .range
    display: flex
    padding: 10px 10px
    font-size: 12px

    &:not(:last-of-type)
      padding-bottom: 0;

    label
      margin: 0
      display: unset
      min-width: 40px
      max-width: 40px

    input
      width: 100%
      padding: 0 20px 0 20px

  .return-button
    color: #333;
    background-color: #fff
    padding: 4px 12px
    line-height: 1.4
    text-align: center
    white-space: nowrap
    vertical-align: middle
    cursor: pointer
    user-select: none
    border: 1px solid #ccc
    border-radius: 4px
    transition: all 0.15s ease

    &:hover, &:active, .active
      background-color: var(--active-color)
      border-color: var(--ui-border-color-active)
      color: #fff