.select-ohif-container {

}

.select-ohif-container .select-ohif {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  box-sizing: border-box;

  transition: background-color .3s ease, border-color .3s ease;
  background-color: var(--input-background-color);
  border: 0 #44626f;
  border-radius: 2px;
  height: 30px;
  line-height: 16px;
  padding: 8px 40px 6px 9px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  outline: none;
  color:var(--text-primary-color);
  margin-left: 6px;
}

.select-ohif-container .select-ohif::-ms-expand {
  display: none;
}

.select-ohif-container .select-ohif-label {
  padding: 5px;
}

.select-ohif-container .select-ohif:hover {
  border-color: #888;
  background-color: var(--input-placeholder-color--hover);
}

.select-ohif-container .select-ohif:focus {
  border-color: #aaa;
  background-color: var(--input-placeholder-color--hover);
  color: var(--text-primary-color);
  outline: 0;
}

.select-ohif-container .select-ohif option {
  font-weight: normal;
}
