.select-ohif-container .select-ohif {
  display: inline-block;
  font-size: 10pt;
  box-sizing: border-box;
  width: auto !important;
  transition: all 0.15s ease;
  background-color: var(--input-background-color);
  line-height: 16px;
  color: var(--input-placeholder-color);
  height: 40px;
  margin: 0 5px 20px 5px;
  padding: 0 20px;
  placeholder-color: var(--input-placeholder-color);
  cursor: pointer;
  border: none;
  font-weight: normal;
  border-radius: 4px;
}

.select-ohif-container .select-ohif::-ms-expand {
  display: none;
}

.select-ohif-container .select-ohif-label {
  padding: 5px;
}

.select-ohif:focus {
  outline: none;
}

.select-ohif-container .select-ohif option {
  font-weight: normal;
}
