.customSelect__wrapper .customSelect__control {
  @apply bg-black border-primary-main shadow transition duration-300 border rounded w-full text-sm text-white leading-tight;
  min-height: 33px;
}
.customSelect__wrapper .customSelect__control:hover {
  @apply border-gray-500;
}

.customSelect__wrapper .customSelect__control:focus,
.customSelect__wrapper .customSelect__control--menu-is-open {
  @apply border-gray-500 outline-none;
}

.customSelect--is-disabled .customSelect__control--is-disabled {
  @apply pointer-events-none;
}

.customSelect__wrapper .customSelect__indicator-separator {
  @apply hidden;
}

.customSelect__wrapper .customSelect__dropdown-indicator {
  padding: 4px;
}

.customSelect__wrapper .customSelect__option {
  @apply text-black flex flex-row items-center;
}

.customSelect__wrapper .customSelect__option:focus {
  @apply bg-primary-main;
}

.customSelect__wrapper .customSelect__option--is-selected {
  @apply bg-transparent;
}

.customSelect__wrapper .customSelect__single-value {
  @apply text-white;
}

.customSelect__wrapper.customSelect--is-disabled {
  @apply cursor-not-allowed pointer-events-auto;
}

.customSelect__wrapper .customSelect__value-container--is-multi {
  @apply px-3 py-2 inline-block truncate;
}
