version: 2

### ABOUT
#
# This configuration powers our Circleci.io integration
#
# Note:
# Netlify works independently from this configuration to
# create pull request previews and to update `https://docs.ohif.org`
###

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.15.1

jobs:
  build_and_test:
    <<: *defaults
    steps:
      # Download and cache dependencies
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            # when lock file changes, use increasingly general patterns to restore cache
            - yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v1-{{ .Branch }}-
            - yarn-packages-v1-
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          paths:
            - ~/.cache/yarn
          key: yarn-packages-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}

      # Build & Test
      - run: yarn build
      # https://www.viget.com/articles/using-junit-on-circleci-2-0-with-jest-and-eslint/
      - run:
          name: 'JavaScript Test Suite'
          command: yarn test:ci
          environment:
            JEST_JUNIT_OUTPUT: 'reports/junit/js-test-results.xml'

      # Store result
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit

      # Persist :+1:
      - persist_to_workspace:
          root: ~/repo
          paths: .

  npm_publish:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Avoid hosts unknown for github
          command:
            mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking
            no\n" > ~/.ssh/config
      # --no-ci argument is not ideal; however, semantic-rlease thinks we're
      # attempting to run it from a `pr`, which is not the case
      - run:
          name: Publish using Semantic Release
          command: npx semantic-release --debug --no-ci

workflows:
  version: 2

  # PULL REQUESTS
  pull_requests:
    jobs:
      - build_and_test:
          filters:
            branches:
              ignore:
                - master
                - react
                - feature/*
                - hotfix/*

  # MERGE TO REACT
  cut_release:
    jobs:
      - build_and_test:
          filters:
            branches:
              only: react
      - npm_publish:
          requires:
            - build_and_test
