.icr-about
  color var(--text-secondary-color)
  text-align left
  margin-top -10px
  margin-left 10px
  width 80%
  height: 100%
  overflow-y auto
  overflow-x hidden

  h1
    font-size 18px
    font-weight bold
    //color: var(--active-color)

  h2
    font-size 16px
    font-weight bold
    color var(--active-color)

  h3
    font-size 14px
    font-weight bold

  span
    color var(--active-color)
    font-style italic

  p
    font-size 12px
