@import '../../../design/styles/common/button.styl'
@import '../../../design/styles/common/table.styl'

.AboutContent
  .btn
    border-color: #ccc;

  .table
    thead:first-child
      tr:first-child
        th, td
          border-top: 0;

    thead, tbody, tfoot
      tr
        th, td
          padding: 8px;
          line-height: 1.42857143;
          vertical-align: top;
          border-top: 1px solid #ddd;
