.WindowLevelPreferences
  display: flex
  padding: 20px 0
  text-align: center

  .wlColumn
    display: flex
    flex-direction: column
    flex-basis: 0
    flex-grow: 1.5
    margin: 0 5px

  .wlRow
    display: flex
    flex-direction: row
    margin: 5px 0

  .header

  .preset
    flex-grow: 0.5

  .window,
  .level
    flex-grow: 1

  .description
    flex-grow: 2
