.studyListToolbar
  .addNewStudy
    margin: 0 10px

    label
      font-weight: 400
      cursor: pointer
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;

    input
      width: 0.1px;
      height: 0.1px
      opacity: 0
      overflow: hidden
      position: absolute
      z-index: -1

    color: var(--text-secondary-color)

    &:hover
      color: var(--hover-color)

    &:active
      color: var(--active-color)
