<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Lesion Tracker" 
			Version="1.0.0" UpgradeCode="{83f70f33-3bd9-4aef-9405-fc0361ec2d4f}" 
			Manufacturer="OHIF" >
					
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
		  <bal:WixStandardBootstrapperApplication 
			SuppressOptionsUI="yes"
			LicenseUrl=""
			LogoFile="$(var.SourceDir)\logo.ico" />
		</BootstrapperApplicationRef>
		
		<Chain>
			<PackageGroupRef Id="NodeJsPackage"/>
			<PackageGroupRef Id="MongoDBPackage"/>
			<PackageGroupRef Id="OrthancPackage"/>
			<PackageGroupRef Id="MainInstaller"/>
		</Chain>
	</Bundle>
</Wix>