<template name="viewer">
    <div id="viewer" class="viewer">
        {{ >lesionDialog studies=studies activeViewport=activeViewport}}
        <div id="upperHalf">
            {{ >hidingPanel studies=studies activeViewport=activeViewport}}
            {{ >viewerMain studies=studies activeViewport=activeViewport viewportRows=viewportRows viewportColumns=viewportColumns}}
        </div>
        {{ >lesionTable studies=studies activeViewport=activeViewport viewportRows=viewportRows viewportColumns=viewportColumns}}
    </div>
</template>