/* Sizes */
:root {
  --top-bar-height: 40px;
  --top-bar-expanded-height: 160px;
  --toolbar-height: 78px;
  --toolbar-drawer-height: 62px;
  --left-sidepanel-menu-width: 307px;
  --right-sidepanel-menu-width: 323px;
  --study-list-padding: 8%;
  --study-list-padding-medium-screen: 10px;
}

/* Fonts */
/* Logo font should be SVG so we don't need to load an entire font */
:root {
  --logo-font-family: 'Sanchez';
  --logo-font-weight: 300; /* Sanchez, 300 does not exist */
}

/* Transitions */
:root {
  --transition-duration: 0.3s;
  --transition-effect: ease;
  --sidepanel-transition: all 0.3s ease;
}

/* Thicknesses */
:root {
  --viewport-border-thickness: 1px;
  --ui-border-thickness: 1px;
}
