<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="OhifRedirect" stopProcessing="true">
                    <match url="viewer(.*)" />
                    <action type="Rewrite" url="/ohif/index.html" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
