
:root {
  --text-color-primary: #ef8200;
}

body {
  width: 100vw;
  height: 100vh;
  background: white;
}

.ant-table-cell {
  line-height: 1.25 !important;
  padding: 0.5rem 1rem !important;
}

.mt-3 {
  margin-top: 0.75rem;
}

.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.report-modal {

}

.md-icon {
  font-size: 1rem;
}

.pointer {
  cursor: pointer;
}

.ms-3 {
  margin-left: 0.5rem;
}

.ms-auto {
  margin-left: auto;
}

.text-right {
  text-align: right;
}

.ant-btn-primary {
  background-color: #fca428 !important;
}

.bold-font {
  font-weight: bold;
}


.ant-card-bordered {
  border: 1px solid #b8b1b1f7;
  border-radius: 5px;
}

.ant-card-body {
  padding: 0.5rem !important;
}
