
:root {
  --text-color-primary: #ef8200;
}

body {
  width: 100vw;
  height: 100vh;
  background: white;
}

.ant-table-cell {
  line-height: 1.25 !important;
  padding: 0.5rem 1rem !important;
}

.mt-3 {
  margin-top: 0.75rem;
}

.d-flex {
  display: flex;
} 
.space-between {
  justify-content: space-between;
}