input[type='range'] {
  -webkit-appearance: none;
}
.slider {
  position: relative;
  width: 200px;
  padding-bottom: 20px;
}
.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}
.slider__track,
.slider__range {
  border-radius: 3px;
  height: 3px;
}
.slider__track {
  background-color: #5acce6;
  width: 100%;
  z-index: 1;
}
.slider__range {
  background-color: #3a3f99;
  z-index: 2;
}
.slider__left-value,
.slider__right-value {
  color: #5acce6;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.slider__left-value {
  left: -2px;
}
.slider__right-value {
  right: -2px;
}
.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
  margin-top: 1px;
}
.thumb--left {
  z-index: 3;
}
.thumb--right {
  z-index: 4;
}
.thumb--zindex-5 {
  z-index: 5;
}
/* For Chrome browsers */
.thumb[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #5acce6;
  border: none;
  height: 10px;
  width: 10px;
  pointer-events: all;
  /* position: relative; */
}
/* For Firefox browsers */
.thumb[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: #5acce6;
  border: none;
  height: 10px;
  width: 10px;
  pointer-events: all;
  /* position: relative; */
}
