.btn-danger
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;

.btn-primary
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;

.btn-default
  color: #333;
  background-color: #fff;
  border-color: #ccc;

.btn
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

.btn.disabled, .btn[disabled], fieldset[disabled] .btn
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;

button.close
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;

.btn-group, .btn-group-vertical
  position: relative;
  display: inline-block;
  vertical-align: middle;

.btn-sm
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
