@import './../../design/styles/common/navbar.styl'
@import './../../design/styles/common/global.styl'
@import './../../design/styles/common/modal.styl'
@import './../../design/styles/common/button.styl'

.close
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;

.UserPreferences
  .tabsContent
    min-height: 650px
    display: none

    &.active
      display: flex
      flex-direction: column;
      justify-content: space-between;

  .footer
    display: flex
    flex-direction: row
    justify-content: space-between

    div
      button:last-child
        margin-left: 10px

.UserPreferencesTabs
  display: flex
  flex-direction: column

  &__selector
    border-bottom: 3px solid black

  .errorMessage
    color: var(--state-error-text)
    font-size: 10px
    text-transform: uppercase;

  .form-content
    border-bottom: 3px solid var(--primary-background-color)
    margin-bottom: 20px
    margin-left: -20px
    margin-right: -20px
    max-height: 70vh
    overflow-y: auto
    padding: 20px
    min-height: 500px

  .popover
    width: 300px
