@import './../../design/styles/common/navbar.styl'

.UserPreferences
  .UserPreferencesTabs
    display: flex
    flex-direction: column
    margin-left: -20px
    margin-right: -20px

    &__selector
      border-bottom: 3px solid black
      padding: 0 25px

  .tabsContent
    min-height: 650px
    display: none

    &.active
      display: flex
      flex-direction: column
      justify-content: space-between
