@import './../../design/styles/common/global.styl'
@import './../../design/styles/common/form.styl'

.DownloadScreenShot
  background: var(--ui-gray-darkest);
  color: var(--text-secondary-color);
  filter: drop-shadow(0 0 3px var(--ui-gray-darkest))
  border: none
  border-radius: 8px
  width: inherit;
