//---------------------------------
// layouts

.absolute-layout{
  position:absolute;
}
.fixed-layout{
  position: fixed;
}


//---------------------------------
// anchoring

.left-anchored{
  position: fixed;
  left: 0px;
}
.right-anchored{
  position: fixed;
  right: 0px;
}
.float-right{
  position: absolute;
  float: right;
  right: 0px;
}


.bottom-anchored{
  position: fixed;
  bottom: 0px;
}
.top-anchored{
  position: fixed;
  top: 0px;
}


// alignment

.right-aligned{
  text-align: right;
}
.left-aligned{
  text-align: left;
}


// layouts
.absolute-layout{
  position:absolute;
}
.fixed-layout{
  position: fixed;
}
