//-----------------------------------------
// Text and Fonts

.bold{
  font-weight: bold;
}
.centered{
  text-align: center;
}
.strikeout{
  text-decoration: line-through;
  color: lightgray !important;
}
.dotted{
  border-style: dotted;
  border-width: 2px;
  border-color: lightgray;
}
.strikeout{
  text-decoration: line-through;
  color: lightgray !important;
}


.hidden{
  visibility: hidden;
  display: none;
}
.visible{
  visibility: visible;
  display: block;
}

.largish{
  font-size: 32px;
}
