/* CUSTOM OHIF SCROLLBAR */
.ohif-scrollbar::-webkit-scrollbar {
  @apply w-2;
}

.ohif-scrollbar::-webkit-scrollbar-track {
  @apply rounded;
}

.ohif-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded;
  @apply bg-primary-main;
}

.ohif-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  @apply bg-primary-main;
}

.invisible-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-track {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  @apply hidden;
}

.tooltip {
  @apply z-10 absolute;
}

/* TOOLTIP WORKAROUND FOR ARROW UP */
.tooltip.tooltip-up::before {
  @apply bg-primary-dark absolute z-10;
  content: '';
  width: 14px;
  height: 1px;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.tooltip-right {
  left: calc(100% + 15px);
}

.tooltip.tooltip-right::before {
  @apply bg-black absolute z-10;
  content: '';
  width: 2px;
  height: 15px;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip.tooltip-top-right::before {
  @apply bg-primary-dark absolute z-10;
  content: '';
  width: 15px;
  height: 2px;
  right: 5px;
  top: -1px;
}

.tooltip.tooltip-top-left::before {
  @apply bg-primary-dark absolute z-10;
  content: '';
  width: 15px;
  height: 2px;
  left: 5px;
  top: -1px;
}

/* TOOLTIP WORKAROUND FOR ARROW */
.showTooltipOnHover .tooltip {
  display: none;
}

.showTooltipOnHover:hover .tooltip {
  display: block;
}

.showExcludeButtonOnHover .excludeButton {
  display: none;
}

.showExcludeButtonOnHover:hover .excludeButton {
  display: block;
}
