/* CUSTOM OHIF SCROLLBAR */
.ohif-scrollbar {
  scrollbar-color: #3E5967 transparent;
  scrollbar-gutter: stable;
}

.ohif-scrollbar:hover {
  overflow-y: auto;
}

.ohif-scrollbar::-webkit-scrollbar {
  @apply w-2;
}

.ohif-scrollbar::-webkit-scrollbar-track {
  @apply rounded;
}

.ohif-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded;
  @apply bg-primary-main;
  background-color: #3e5967;
}

.ohif-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  @apply bg-primary-main;
  background-color: #3e5967;
}

/* INVISIBLE SCROLLBAR */
.invisible-scrollbar {
  scrollbar-width: none;
}

.invisible-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-track {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  @apply hidden;
}
