.navbar
  margin-bottom: 0
  border-radius: 0
  color: #888888
  background-color: #060606
  border: none
    
.navbar-form
  margin: 0
  padding: 15px 3px

@media (min-width: 768px)
  .navbar
    border-radius: 0px