[class*="Sidebar__Menus"]
  @media (min-width: 1120px)
    margin-top: 80px

.sidebarLanguageSwitcher
  position: fixed
  top: 155px
  left 0
  z-index: 1049
  padding: 0 24px 20px
  border-bottom: 1px dotted #CED4DE
  background: #F5F6F7
  transition: all 200ms ease
  @media (max-width: 1119px)
    left -100%
