<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
		<Binary Id="CABinary" SourceFile="CustomActions.js" />
	</Fragment>
	
	<Fragment>
		<CustomAction Id="CASetConfigureMongoDBProps" 
					  Property="CAConfigureMongoDB" 
					  Value="[INSTALLDIR]" 
					  Execute="immediate" 
					  Return="check" />
	
		<CustomAction Id="CAConfigureMongoDB" 
					  BinaryKey="CABinary" 
					  JScriptCall="ConfigureMongoDB" 
					  Impersonate="no" 
					  Execute="commit" 
					  Return="check" />
	</Fragment>
	
	<Fragment>
		<CustomAction Id="CAInstallLTServiceProps" 
					  Property="CAInstallLTService" 
					  Value="[INSTALLDIR]" 
					  Execute="immediate" 
					  Return="check" />
	
		<CustomAction Id="CAInstallLTService" 
					  BinaryKey="CABinary" 
					  JScriptCall="InstallLTService" 
					  Impersonate="no" 
					  Execute="commit" 
					  Return="check" />
	</Fragment>
</Wix>
