<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*" 
          Version='1.0.0' UpgradeCode="{83f70f33-3bd9-4aef-9405-fc0361ec2d4f}" 
          Language='1033' 
          Name="Lesion Tracker" 
          Manufacturer='OHIF'>

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
	<MediaTemplate EmbedCab="yes" />

	<WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)\LICENSE.rtf" />

	<Property Id="MSIUSEREALADMINDETECTION" Value="1" />

	<Feature Id='ProductFeature' Title='Lesion Tracker' Level='1'>
      <ComponentGroupRef Id='MainComponentGroup' />
	</Feature>
	
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder'>
        <Directory Id='OHIF_Folder' Name='OHIF'>
          <Directory Id='INSTALLDIR' Name='Lesion Tracker' />
        </Directory>
      </Directory>
    </Directory>
	
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="WixUI" />
	
	<InstallExecuteSequence>
		<Custom Action="CASetConfigureMongoDBProps" After="InstallFiles" />
		<Custom Action="CAConfigureMongoDB" After="CASetConfigureMongoDBProps" />
		<Custom Action="CAConfigureLT" After="CAConfigureMongoDB" />
    </InstallExecuteSequence>

  </Product>
</Wix>