<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<Product Id="*" 
			 Version="$(var.VersionNumber)" UpgradeCode="{83f70f33-3bd9-4aef-9405-fc0361ec2d4f}" 
			 Language="1033" 
			 Name="Lesion Tracker" 
			 Manufacturer="OHIF">

		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)\LICENSE.rtf" />
		
		<Icon Id="icon.ico" SourceFile="$(var.SourceDir)\logo.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<Property Id="MSIUSEREALADMINDETECTION" Value="1" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="You can upload studies here: 'http://localhost:8042' Then, you can view them here: 'http://localhost:3000'" />
		
		<SetProperty Id="LTVIEWERURL" Value="http://localhost:3000" Sequence="execute" Before="CreateShortcuts" />
		<SetProperty Id="ORTHANCURL" Value="http://localhost:8042" Sequence="execute" Before="CreateShortcuts" />
		
		<Feature Id='ProductFeature' Title='Lesion Tracker' Level='1'>
		  <ComponentGroupRef Id='MainComponentGroup' />
		  <ComponentRef Id="UninstallDirComponent" Primary="yes" />
		  <ComponentRef Id="ShortcutDirComponent" Primary="yes" />
		</Feature>

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<!-- Installation Directory -->
			<Directory Id='ProgramFiles64Folder'>
				<Directory Id='INSTALLPARENTDIR' Name='OHIF'>
					<Directory Id='INSTALLDIR' Name='Lesion Tracker' />
				</Directory>
			</Directory>
			<!-- Desktop Shortcuts -->
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="ShortcutDirComponent" Guid="*">
					<Shortcut Id="LesionTrackerShortcut" Name="Lesion Tracker" Description="Lesion Tracker Viewer" Target="[LTVIEWERURL]" Icon="icon.ico" />
					<Shortcut Id="OrthancShortcut" Name="Orthanc Server" Description="Lesion Tracker Orthanc Server" Target="[ORTHANCURL]" Icon="icon.ico" />
					<RemoveFolder Id="DesktopFolder" On="uninstall" />
					<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				</Component>
			</Directory>
		</Directory>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<UIRef Id="WixUI" />

		<InstallExecuteSequence>
			<!-- Run after install or upgrade -->
			<Custom Action="CASetConfigureMongoDBProps" Before="InstallFinalize">NOT REMOVE</Custom>
			<Custom Action="CAConfigureMongoDB" After="CASetConfigureMongoDBProps">NOT REMOVE</Custom>
			<Custom Action="CAInstallLTServiceProps" After="CAConfigureMongoDB">NOT REMOVE</Custom>
			<Custom Action="CAInstallLTService" After="CAInstallLTServiceProps">NOT REMOVE</Custom>
			<!-- Run before uninstall or upgrade -->
			<Custom Action="CAUninstallLTServiceProps" After="InstallInitialize">REMOVE~="ALL" OR (Installed AND NOT REMOVE)</Custom>
			<Custom Action="CAUninstallLTService" After="CAUninstallLTServiceProps">REMOVE~="ALL" OR (Installed AND NOT REMOVE)</Custom>
		</InstallExecuteSequence>

	</Product>
</Wix>