.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  
.navbar
  margin-bottom: 0
  border-radius: 0
  background-color: #060606
  border: none
  font-family: "Sanchez"
  color: #C1C1C1

  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  transition: all 0.3s ease
    
.navbar-default .navbar-nav > li > a
  color: #C1C1C1
  font-weight: bold
  font-size: 12pt
    
.navbar-form
  height: 50px
  margin: 0
  padding: 15px 3px
  font-weight: bold
  font-size: 12pt
  line-height: 20px
  
.navbar-brand
  display: inline-block
  
  img
    float: left
    margin-right: 10px
    margin-top: -5px

  h4.name
    float: left
    margin: 0
    font-family: "Sanchez"
    color: #C1C1C1

@media (min-width: 768px)
  .navbar
    border-radius: 0px