@import "{design}/app"
  
.topBar
  margin-bottom: 0
  border-radius: 0
  background-color: $primaryBackgroundColor
  border: none
  height: $topBarHeight
  color: $textPrimaryColor
  transition(all 0.3s ease)
  
  .brandSection
    display: inline-block
    height: 30px
    text-decoration: none

    img.logoImage
      display: inline-block
      height: 100%
      max-height: 50px
      margin: 0 5px

    div.logoText
      display: inline-block
      font-family: $logoFontFamily
      font-weight: $logoFontWeight
      color: $textPrimaryColor