.logoContainer
  position: absolute;
  height: 40px;
  top: 0;
  right: 0;
  color: white;

.navbar-brand
    display: inline-block
    padding: 0;
    margin-right: 5px;

    img
      height: 30px
      float: left
      margin-right: 10px
      margin-top: 5px;

    h4.name
      float: left
      margin: 10px 0;
      font-family: "Sanchez"
      color: #C1C1C1
