.DateRangePicker {
}

/** CONTAINER STYLES **/

.DateRangePickerInput {
  @apply bg-transparent border-0 flex;
}

.DateRangePicker_picker {
  @apply -mt-1;
}

/** INPUT DIV STYLES **/

.DateInput {
  background: transparent;
  @apply flex flex-1 w-auto;
}

/** INPUT FIELD COMMON STYLES **/

.DateInput_input {
  /* background-image: url(../../assets/icons/calendar.svg); */
}

.DateInput_input {
  @apply cursor-pointer border-custom-blue mt-2 bg-black shadow transition duration-300 appearance-none border-t border-l border-r border-b border-solid rounded w-full py-2 px-3 text-sm text-gray-700 leading-tight pl-8;
}

.DateInput_input:hover {
  @apply border-gray-500;
}

.DateInput_input:focus {
  @apply border-gray-500 outline-none;
}

/** FIRST INPUT STYLES **/

.DateInput:first-child .DateInput_input {
  @apply rounded-r-none;
}

.DateInput:first-child .DateInput_input:hover,
.DateInput:first-child .DateInput_input:focus {
  @apply relative z-10;
}

/** SECOND INPUT STYLES **/

.DateInput:last-child .DateInput_input {
  @apply rounded-l-none;
  margin-left: -1px;
}

/** ARROW STYLES **/

.DateRangePickerInput_arrow {
  @apply hidden;
}

/* PRESETS */
.PresetDateRangePicker_panel {
  @apply flex justify-between;
}

.PresetDateRangePicker_button {
  @apply m-0 py-2 px-3 bg-custom-blue border-0 rounded text-white text-base transition duration-300;
}

.PresetDateRangePicker_button:hover {
  @apply opacity-80;
}

/* SELECT MONTH PICKER */
.DateRangePicker_select {
  @apply bg-white text-custom-dark border rounded border-custom-gray appearance-none cursor-pointer text-base pl-2 pr-5 py-1;

  /* NEEDED FOR ARROW DOWN */
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 11px) 11px, calc(100% - 6px) calc(11px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

/* CALENDAR DAYS */

.CalendarDay {
  @apply border-0 rounded-full;
}

.CalendarDay:hover,
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  @apply bg-custom-blue text-white border-0 border-custom-blue;
}

.CalendarDay__blocked_out_of_range:hover {
  @apply border-0 bg-white cursor-not-allowed text-custom-gray;
}

/* MONTH NAVIGATION BUTTONS */

.DayPickerNavigation_button__horizontalDefault,
.DayPickerNavigation_button__horizontalDefault:hover {
  @apply border-custom-gray text-custom-gray;
  top: 24px;
  padding: 3px 9px;
}

.DayPickerNavigation_svg__horizontal {
  @apply fill-current;
}
