<template name="app">
    <div class="topBar noselect {{#if onStudyList}}studyList{{/if}}">
        <div class="clearfix">
            <a target='_blank'
               class="brandSection pull-left"
               href="http://ohif.org">
                <svg class="logoImage">
                    <use xlink:href={{absoluteUrl "packages/ohif_viewerbase/assets/icons.svg#icon-ohif-logo"}}></use>
                </svg>
                <div class="logoText">Open Health Imaging Foundation</div>
            </a>
            {{#if studyListToggleText}}
                <a class="btn studyListLinkSection pull-left js-toggle-studyList" id="{{dasherize studyListToggleText}}-btn">
                    {{studyListToggleText}}
                </a>
            {{/if}}
            <div class="userAccountSection pull-right">
                {{>userAccountMenu}}
            </div>
        </div>
    </div>
    <div id="studylistTabs" class="tab-content">
        <div class="tab-pane active" id="studylistTab">
            <div class="studylistContainer">
                {{>studylistResult}}
            </div>
        </div>
        <div class="tab-pane" id="viewerTab">
        </div>
    </div>
</template>
