.LTStudyBrowser
  padding: 0 10px
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  flex-wrap: nowrap

  .tabContents
    overflow: auto
    min-height: 2em
    flex-grow: 1
    -ms-overflow-style: none

    &::-webkit-scrollbar
      display: none

  .tabButtons
    display: flex
    justify-content: center
    padding: 20px 0
    margin-bottom: 10px
    border-bottom: 1px solid #44626f
    flex-shrink: 0

  .studyItemBox
    background-color: transparent
    border: 1px solid transparent
    transition: all 0.3s ease

    &:hover
      background-color: #14191e;
      border-color: var(--ui-border-color-dark)

  .roundedButton span
    font-size: 11px
