.StudyItem
  .studyModality
    color: var(--text-secondary-color)
    font-size: 20px
    line-height: 50px
    margin-left: 12px
    margin-top: 12px
    position: relative

    .studyModalityText
      height: 100%
      overflow: hidden
      text-align: center
      text-transform: uppercase

    &
    &:before
    &:after
      border: 2px solid var(--primary-background-color)
      background-color: var(--box-background-color)
      border-radius: 8px
      height: 54px
      transition($sidebarTransition)
      width: 54px

    &:before
    &:after
      display: block
      content: ''
      position: absolute

    &:before
      top: -8px
      left: -8px
      z-index: -1

    &:after
      top: -14px
      left: -14px
      z-index: -2

  &.active
    .studyModality
      color: var(--primary-background-color)
      &
      &:before
      &:after
        background-color: var(--active-color)
        border-color: $boxActiveBorderColor
