.XNATToolStrategyButton
  //height: 48px
  color: var(--default-color)
  float: left
  text-align: center
  padding: 0 10px
  cursor: pointer !important
  user-select: none

  .label
    font-size: 12px
    cursor: pointer !important
    //display none
    //font-weight: 500

  svg
    height: 21px
    width: 21px
    //margin: 2px

  &:hover
    color: var(--hover-color)

  &.active, &:active
    color: var(--active-color)
