#viewer
  border-top: 1px solid #525252
  height: 100%
  width: 100%

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.studyBrowser
  width: auto

.viewerMain
  float: left
  background-color: gray
  height: 100%
  width: calc(100% - 120px)

  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  transition: all 0.3s ease

  #layoutManagerTarget
    height: calc(100% - 30px)
    width: 100%

.studyBrowserSidebar
  float: left
  height: 100%
  width: 120px
  overflow: hidden
  background-color: #000
  padding-top: 10px
