<template name="viewer">
    {{#if and Template.subscriptionsReady}}
        <div class="viewerDialogs-react">
            {{> React component=CineDialog}}
        </div>
        <div class="viewerDialogs">
            {{>layoutChooser}}
            {{>annotationDialogs}}
        </div>
        <div id="viewer">
            <div>
                {{>toolbarSection (clone this state=state)}}
            </div>
            <div>
            {{> React component=FlexboxLayout studies=this.studies}}
            </div>
        </div>
    {{else}}
        {{>loadingText}}
    {{/if}}
</template>
