#viewer
  width: 100%
  height: calc(100% - 53px)
  border-top: 1px solid #525252
  
.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none