@import "{design}/app"

#viewer
  align-items: stretch
  background-color: black
  display: flex
  flex-flow: column wrap
  height: 100%
  width: 100%
  margin: 0
  padding: 0

.loadingTextDiv
  color: $textSecondaryColor
  font-size: 30px
