.background {
  fill: #91b8cd26;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2;
}

.dot {
  fill: white;
  stroke: white;
}

.interaction {
  fill: red;
  stroke: red;
}

.interaction.line {
  fill: none;
  stroke-width: 2;
}

.label.axis {
  fill: white;
}

.reset {
  text-align: center;
  height: 20px;
  width: 50px;
  position: relative;
  background-color: var(--active-color);
  border-color: var(--ui-border-color-active);
  color: var(--ui-gray-dark);
  z-index: 2;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}
