.toolbar {
    width: 100%;
    height: 35px;
    text-align: center;
}

#toolbar-group button {
    text-align: center;
    margin-top: 2px;
    margin-right: 3px;
    margin-left: 3px;
    color: #ffffff;
    background-color: black;
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

#toolbar-group button > span {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 9px;
    right: 9px;
    bottom: 9px;
}


#toolbar-group .btn:hover {
    border-width: 3px;
    background-color: transparent;
    color: white;
}
#toolbar-group .btn:focus, .btn:active {
    outline: 0 !important;
    border-width: 5px;
    background-color: transparent;
    color:white;
    text-align: center;
}

#toolbar-group .btn:focus > span{
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
}