#toolbar
  background-color: black
  text-align: center
  
  .btn-group
    display: inline-block
    
    button
      text-align: center
      color: #ffffff
      background-color: #424242
      border-color: #424242
      
      &.active, &:active
        background-color: #3B678E