@import "{design}/app"

#viewer
  background-color: black
  height: 100%
  width: 100%

#imageViewerViewports
  .viewportContainer
    border: none !important
    outline: 0 !important // Prevent blue outline in Chrome

    &:hover
    &.active
    &:hover.active
      border: none !important
      outline: 0 !important // Prevent blue outline in Chrome

    .removable
      .imageViewerViewport
        canvas
          border-color: transparent
          border-style: solid
          border-width: 1px

    &:not(:last-child)
    .removable
      .imageViewerViewport
        theme('border-right', '%s solid $uiBorderColor' % $uiBorderThickness)

    &.active
      .removable
        .imageViewerViewport
          canvas
            theme('border-color', '$uiBorderColorActive')
