.drag-drop-instructions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-drop-instructions h3 {
  color: var(--active-color);
}

.drag-drop-instructions h4 {
  color: var(--text-secondary-color);
}

.link-dialog {
  color: var(--active-color);
  cursor: pointer;
}
