##
# EXAMPLE
#
# Read more about .env files when using create-react-app here:
# https://facebook.github.io/create-react-app/docs/adding-custom-environment-variables#adding-development-environment-variables-in-env
#

PUBLIC_URL=/demo/
APP_CONFIG=config/netlify.js
USE_HASH_ROUTER=false

# Chavi data source (used by config/customDatasource.js)
# Restrict which origins can send metadata via postMessage (use '*' for development)
DICOMZIP_PARENT_ORIGIN=*
