.peppermint-table
  width: 100%

  tr, th, td
    padding: 0px 5px
    word-wrap: break-word

  .centered-cell
    text-align: center

  .left-aligned-cell
    text-align: left

  .right-aligned-cell
    text-align: right
