@import "./peppermint-table.styl"

.segmentation-menu
  color: var(--text-primary-color)
  z-index: 1000

  text-align: center
  height: 100%

  .segmentation-menu-component
    height: 100%
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

  h3
    font-weight: 400
    font-size: 20px

  .btn
    padding: 3px 3px
    font-size: 13px

  .segmentation-menu-header
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%

    a
      height: 28px
      width: 70px

  .segmentation-menu-list-bordered
    border-width: 1px
    border-top-style: solid
    border-bottom-style: solid

  .segmentation-menu-new-button
    float: center
    width: 100%


  .segmentation-menu-list
    //height: calc(90% - 400px)
    padding-right: 18px
    padding-left: 18px
    width: 100%
    overflow-y: auto
    overflow-x: hidden
    word-wrap: break-word
    scrollbar-color: var(--text-secondary-color --ui-gray-darkest)

    &::-webkit-scrollbar
      them('background', '$uiGrayDarkest')
      width: 10px

    &::-webkit-scrollbar-thumb
      //theme('background', '$textSecondaryColor')
      background: var(--text-secondary-color)
      border-radius: 10px
      border-right: 2px solid var(--ui-gray-darkest)

    .segmentation-menu-name-link
      color: var(--text-primary-color)

      &:hover
        color: var(--text-secondary-color)

  .segmentation-menu-footer
    margin: 10px
    padding: 10px
    background: var(--ui-gray-dark)
    border: 1px solid var(--ui-border-color)

    select
      width: 80%
      text-align: center
      margin: 0 auto

    label
      font-weight: 400
      float: left
