.roiPanelFooter.scrolledFooter
  margin-top: 10px

.SegmentationStatsMenu
  display: block

  h5
    margin-bottom: 5px
    font-weight: normal

  .collectionTable

    th
      background-color: black
      font-weight: normal
      color: var(--text-secondary-color)

    tr
      height: 28px

      td
        .stats-label-cell
          padding: 2px 5px
          margin-left: -4px
          border-left: solid 5px
