<p> <strong> DEPARTMENT OF RADIOLOGY</strong></p>
<p><br></p>
<p><strong>3 TESLA MRI OF ABDOMEN - LIVER ELASTOGRAPHY</strong></p>
<p><br></p>
<p><strong>3T Technique:</strong></p>
<p><br></p>
<p><strong>Q Dixon : </strong>Inphase /Outphase / FAT / Water ( chemical shift imaging )</p>
<p><strong>GRE MRE </strong> : Elastography . </p>
<p>T2 haste tra, coronal</p>
<p>T1 starvibe</p>
<p><br></p>
<p><strong>Findings :</strong></p>
<p><br></p>
<p><strong>Liver Elastography :</strong></p>
<p><br></p>
<p>Liver stiffness maps predominantly within the right lobe of the liver. </p>
<p>- Multiple ROIs ( Region Of Interest ) values are seen ranging from ____ to ____ kPa </p>
<p>(kilopascal ) with overall average of ____ kPa. Normal thickness of the wave forms noted.</p>
<p>- No evidence of liver fibrosis in the current imaging.</p>
<p><br></p>
<p>Q- DIXON / Histo ( Spectroscopy method )</p>
<p>(Evaluation for liver fat and liver iron concentration (LIC)</p>
<p><br></p>
<p>Single voxel liver fat signal fraction : ___% ( within normal limits, No fatty infiltration).</p>
<p>R2 *sequences ( Iron estimation ) : ____ seconds ( within normal limits ).</p>
<p>No signs of iron deposition.</p>
<p><br></p>
<p><strong>Liver :</strong></p>
<p>- Span : Measuring cms. Normal in size and signal morphology.</p>
<p>- Portal vein and hepatic veins show normal calibre and flow voids.</p>
<p>- IVC shows normal calibre.</p>
<p><br></p>
<p><strong>Gall bladder is distended. Wall thickness is normal. No filling defects.</strong></p>
<p><strong>CBD is of normal caliber and signal intensity. No evidence of IHBR. </strong></p>
<p><strong>Spleen is normal in size with preserved signal intensity.</strong></p>
<p><strong>Pancreas appears grossly normal. </strong></p>
<p><br></p>
<p><br></p>
<p><strong>Note</strong>: Liver ELASTOGRAPHY is done for evaluation of the parenchymal fibrosis.</p>
<p> Not for the morphological assessment.</p>
<p><br></p>
<p><br></p>
<p>For clinical correlation and interval follow up.</p>
<p><br></p>
<p><br></p>
<p><br></p>
<p>
  ---------------------------------------------------------------------------------------------------------------------------------------------------
</p>
<p>Liver fibrosis and shear stiffness values of SIEMENS SKYRA ( 3Tesla system ) :</p>
<p>Mean liver stiffness (Weighted mean of () measurements () kPa. </p>
<p>MR Elastrography estimates of hepatic stiffness (at 60 Hz correlate with hepatic </p>
<p>fibrosis stages as :</p>
<p><strong>&lt; 2.5 kPa : Normal.</strong></p>
<p><strong>2.5 - 2.9 kPa : Normal or Inflammation.</strong></p>
<p><strong>2.9 - 3.5 kPa : Stage 1 to 2 Fibrosis. </strong></p>
<p><strong>3.5 - 4 kPa : Stage 2 to 3 Fibrosis.</strong></p>
<p><strong>4 - 5 kPa : Stage 3 to 4 Fibrosis.</strong></p>
<p><strong>&gt;5 kPa : Stage 4 Fibrosis or Cirrhosis.</strong></p>
<p>(These are broad catogeries and results should be interpreted with </p>
<p>clinical and laboratory findings and for other possible causes of increased</p>
<p>liver stiffness).</p>
<p><br></p>
<p><br></p>
<p><br></p>