<p> <strong>DEPARTMENT OF RADIOLOGY</strong></p>
<p><br></p>
<p> <strong>MRI OF BRAIN WITH MR ANGIOGRAPHY ( INTRA &amp; EXTRACRANIAL )</strong></p>
<p><br></p>
<p><strong>TECHNIQUE:</strong></p>
<p><br></p>
<p>T1 Sagittals &amp; T2 Coronals.</p>
<p>T1, T2, GRE &amp; FLAIR Axials.</p>
<p>DWI Axials.</p>
<p>3D TOF MR Angiography.</p>
<p>2D TOF MR Angiography.</p>
<p><br></p>
<p>Clinical details: </p>
<p><br></p>
<p><strong>FINDINGS:</strong></p>
<p><br></p>
<p>Ventricular system is normal.</p>
<p><br></p>
<p>Subarachnoid cisternal spaces and cortical sulci are normal.</p>
<p><br></p>
<p>Cerebellum, pons, medulla and midbrain are normal.</p>
<p><br></p>
<p>The cerebral parenchyma shows normal signal characteristics.</p>
<p><br></p>
<p>No focal lesions seen.</p>
<p><br></p>
<p>No shift of midline structures.</p>
<p><br></p>
<p>Pituitary gland, infundibulum and optic chiasm are normal.</p>
<p><br></p>
<p><br></p>
<p>Extracranial MR Angiography: </p>
<p><br></p>
<p>Bilateral CCA, ICA &amp; ECA are normal in course, calibre &amp; branching pattern.</p>
<p><br></p>
<p>Bilateral carotid bifurcations are normal.</p>
<p><br></p>
<p>Bilateral vertebral arteries are normal in course, calibre &amp; branching pattern.</p>
<p><br></p>
<p>No evidence of any focal stenosis / occlusion.</p>
<p><br></p>
<p>Intracranial MR Angiography:</p>
<p><br></p>
<p>Bilateral intracranial ICA, MCA &amp; ACA are normal in course, calibre &amp; branching pattern.</p>
<p><br></p>
<p>Bilateral PCA are normal in course, calibre &amp; branching pattern.</p>
<p><br></p>
<p>Basilar artery is normal in course, calibre &amp; branching pattern.</p>
<p><br></p>
<p>Bilateral vertebral arteries are normal in course, calibre &amp; branching pattern.</p>
<p><br></p>
<p>No evidence of any focal stenosis / aneurysm.</p>
<p><br></p>
<p><br></p>
<p><strong>IMPRESSION:</strong></p>
<p><br></p>
<p> <strong>NO ABNORMALITY DETECTED.</strong></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p>Note : This is a professional opinion only. Each investigation has its limitations. Final diagnosis needs correlation
  with clinical context and other investigations. Kindly discuss, if necessary.</p>
<p><br></p>
<p><br></p>
<p><br></p>