<p> <strong>DEPARTMENT OF RADIOLOGY</strong></p>
<p> <strong>MRI THORACIC AORTOGRAM</strong></p>
<p><strong>TECHNIQUE :</strong></p>
<p>2D FIESTA Axials, Sagittals, Coronals.</p>
<p>Coronals 3D dual echo. </p>
<p>Clinical details: </p>
<p><strong>FINDINGS :</strong></p>
<p>Ascending aorta : cms.</p>
<p>Descending thoracic aorta : cms.</p>
<p>Arch of aorta : cms. </p>
<p>Arch of aorta, ascending aorta and descending thoracic aorta are normal in calibre.</p>
<p>No aortic aneurysm / aortic dissection.</p>
<p>No aortic stenosis. </p>
<p>Branching of arch vessels is normal.</p>
<p>Main pulmonary artery, right and left pulmonary arteries are normal in calibre. </p>
<p>No pericardial effusion.</p>
<p>No obvious mediastinal lymphadenopathy.</p>
<p>No pleural effusion.</p>
<p><strong>IMPRESSION:</strong></p>
<p><br></p>
<p><br></p>
<p>For clinical correlation.</p>
<p><br></p>
<p><br></p>