.slab-thickness
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .toolbar-slider-container
    height: 30px;
    width: 80px;
    margin: -7px 2px 2px 2px;
    font-size: 12px;
    input
      margin-top: 5px;
    .range::-webkit-slider-thumb
      height: 15px;
      margin-top: -6px;
