<template name="toolbarSection">
    <div class="toolbarSection noselect p-x-2">
        <div class="clearfix">
            <div class="pull-left m-t-1">
                {{>roundedButtonGroup leftSidebarToggleButtonData}}
            </div>
            {{>toolbarSectionTools toolbarButtons=toolbarButtons}}
            <div class="pull-left">
                {{>toolbarSectionTools toolbarButtons=hangingProtocolButtons}}
            </div>
            <div class="pull-left m-t-1 rm-x-1">
                {{>roundedButtonGroup rightSidebarToggleButtonData}}
            </div>
            <div class="pull-right">
                {{>toolbarSectionTools toolbarButtons=buttonData3D}}
            </div>
        </div>
    </div>
</template>
