/* IMPORT CUSTOM FONT */
@import './assets/styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

/* Truncate 2 lines utility */
.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
  height: 2.1rem;
}

/* disabled class - used for icons and divs based on context */
.ohif-disabled {
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
  opacity: 0.5;
}

@layer base {
  :root {
    --highlight: 200 10% 80%;
    --neutral: 220 5% 70%;
    --background: 0 0% 100%;
    --foreground: 220 10% 10%;
    --card: 0 0% 98%;
    --card-foreground: 220 10% 10%;
    --popover: 0 0% 98%;
    --popover-foreground: 220 10% 10%;
    --primary: 210 10% 85%;
    --primary-foreground: 220 10% 10%;
    --secondary: 220 5% 90%;
    --secondary-foreground: 220 10% 20%;
    --muted: 220 5% 95%;
    --muted-foreground: 220 5% 60%;
    --accent: 210 10% 92%;
    --accent-foreground: 220 10% 10%;
    --destructive: 0 70% 80%;
    --destructive-foreground: 0 70% 30%;
    --border: 220 5% 90%;
    --input: 220 5% 95%;
    --ring: 210 10% 85%;
    --chart-1: 210 10% 85%;
    --chart-2: 220 5% 70%;
    --chart-3: 0 0% 80%;
    --chart-4: 220 10% 92%;
    --chart-5: 220 5% 60%;
    --radius: 0.5rem;
    --success-bg: hsl(143, 20%, 95%);
    --success-border: hsl(145, 15%, 90%);
    --success-text: hsl(140, 20%, 30%);
    --info-bg: hsl(208, 20%, 97%);
    --info-border: hsl(221, 15%, 91%);
    --info-text: hsl(210, 20%, 40%);
    --warning-bg: hsl(49, 20%, 97%);
    --warning-border: hsl(49, 15%, 91%);
    --warning-text: hsl(31, 20%, 40%);
    --error-bg: hsl(359, 20%, 97%);
    --error-border: hsl(359, 20%, 94%);
    --error-text: hsl(360, 20%, 40%);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 214 98% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 236 52% 30%;
    --ring: 214 98% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
