/* IMPORT CUSTOM FONT */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Truncate 2 lines utility */
.truncate-2-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
  height: 2.1rem;
}

