.unlist {
  list-style: none;
  padding-left: 0;
}

.unlist li {
  list-style: none;
}

.labelmap-container {
  color: white;
  min-height: 200px;
}

.labelmap-list {
  display: flex;
  flex-direction: column;
}

.labelmap-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid var(--ui-gray-light);
  padding: 8px 16px;
  margin: 0;
}

.labelmap-item:hover {
  cursor: pointer;
  background-color: var(--active-color);
}

.segment-list-item {
  display: flex;
  padding: 2px 16px;
}

.segment-color {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  text-align: center;
  line-height: 25px;
}

.segment-label {
  flex-grow: 1;
  line-height: 25px;
}
