.measurementItem
  .item-color-section
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 .item-color
    margin-top: 8px;
    border-radius: 100%;
    width: 20px;
    height: 20px;

  .rowActions
      margin-left: -1px;
      background-color: var(--ui-gray-darker)
      height: 0
      overflow: hidden
      transition: all 0.3s ease
      visibility: hidden
      padding-left: 14px

      .btnAction
        background-color: transparent;
        border: none;
        color: var(--default-color)
        cursor: pointer
        line-height: 35px
        height: 35px
        transition: all 0.3s ease

        &:hover, &:active
          color: var(--text-primary-color)

        i
          margin-right: 4px;

  &.selected
    .rowActions
      height: auto;
      visibility: visible

  .measurementLocation
    margin-top: 9px;
    overflow: hidden;
    max-width: calc(100% - 50px);
    text-overflow: ellipsis;
    overflow-wrap: normal;
    white-space: nowrap;

  .measurementDisplayText
    display: inline-block;
    margin-top: 9px;
    padding-left: 9px;
    width: 90px;
    border-left: 1px solid var(--text-secondary-color);
    color: var(--text-primary-color);

  .itemIndex
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;

  &.hasWarnings
    .itemIndex
      opacity: 1
      background-color: #e29e4a;
      color: #fff;

    .warning-icon
      display: block;
      margin: 7px auto 0;

      svg
        width: 22px;
        height: 20px;
        pointer-events: inherit;

.icons
  display: flex;
  align-items: center;
  border-radius: 5px;

.icons .eye-icon
  margin-left: 100px;
  margin-right: -5px;
.icons .angle-double-down
.icons .angle-double-up
  margin-left: 15px;
  margin-right: -5px;
