#viewer {
  background-color: black;
  width: 100%;
}

#viewer {
  height: calc(100% - var(--top-bar-height));
}

#viewer > .loadingTextDiv {
  color: var(--text-secondary-color);
  font-size: 30px;
  height: 100%;
  line-height: calc(100% - var(--top-bar-height));
}

.loadingTextDiv {
  color: var(--text-secondary-color);
  font-size: 30px;
}

.main-content {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: var(--sidepanel-transition);
  /* transition: all 0.3s ease; */
}
