.viewerMain
  width: 100%
  height: 84%

//font awesome icons
.fa-cr:before
  content: 'CR'
  font-weight: bold

.fa-un:before
  content: 'UN'
  font-weight: bold

.fa-ex:before
  content: 'EX'
  font-weight: bold