.viewerMain
  width: 100%
  height: 84%

  #layoutManagerTarget
    width: 100%
    height: calc(100% - 30px)

//font awesome icons
.fa-cr:before
  content: 'CR'
  font-weight: bold
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.fa-un:before
  content: 'UN'
  font-weight: bold
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.fa-ex:before
  content: 'EX'
  font-weight: bold
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif