.imageViewerLoadingIndicator {
  color: #91b9cd;
}

.loadingIndicator {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  /* Necessary for click-through to cornerstone element below */
  pointer-events: none;
}
