.entry-header {
  padding: 10px 10px 0;
  height: var(--top-bar-height);
}

.entry-header.header-big {
  background: rgba(21, 25, 30, 0.7);
  padding: 10px var(--study-list-padding);
  height: auto;
  display: inline-block;
  width: 100%;
}

.header-left-box {
  display: inline-block;
  position: relative;
}

.header-viewerLink {
  float: left;
}

.header-brand {
  height: 30px;
  text-decoration: none;
  float: left;
  clear: both;
}

.entry-header.header-big .header-brand {
  height: auto;
  padding: 25px 0;
}

.header-logo-image {
  fill: transparent;
  height: 100%;
  margin: 0 8px 0 0;
  width: 30px;
  float: left;
}

.entry-header.header-big .header-logo-image {
  margin: 0 20px 0 0;
  width: 50px;
  height: 50px;
}

.entry-header.header-big .header-logo-text {
  width: 474px;
  height: auto;
}

.header-btn {
  color: var(--text-secondary-color);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
}

.header-btn:hover {
  color: var(--hover-color);
}

.header-btn:active {
  color: var(--active-color);
}

.header-studyListLinkSection {
  border-left: var(--ui-border-thickness) solid var(--ui-border-color);
  margin: 3px 0 0 10px;
  padding: 0 0 0 10px;
  display: inline-block;
}

.header-menu {
  color: var(--text-primary-color);
  float: right;
  padding: 4px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin-right: 10px;
}

.entry-header.header-big .header-menu {
  margin-right: 0;
}

.header-menu .research-use {
  float: left;
  font-size: 13px;
  font-weight: 700;
  color: #91b9cd;
  margin-right: 1rem;
}

.header-versionInfo {
  display: inline-block;
  color: black;
  background: #9ccef9;
  padding: 0px 8px;
  border-radius: 16px;
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;
}

.header-versionInfoHome {
  display: block;
  color: black;
  position: absolute;
  bottom: 16px;
  right: 0;
  background: #9ccef9;
  padding: 0px 8px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .entry-header.header-big {
    padding: 0 15px;
  }
  .entry-header.header-big .header-logo-image {
    margin: 0 10px 0 0;
    width: 25px;
    height: 25px;
  }

  .entry-header.header-big .header-logo-text {
    width: 40%;
  }
}
