<template name="standaloneViewer">
    <div class="topBar noselect">
        <div class="clearfix">
            <a target='_blank'
               class="brandSection pull-left"
               href="http://ohif.org">
                <svg class="logoImage">
                    <use xlink:href="/packages/ohif_viewerbase/assets/icons.svg#icon-ohif-logo"></use>
                </svg>
                <div class="logoText">
                    Open Health Imaging Foundation
                </div>
            </a>
        </div>
    </div>
    {{> viewer }}
</template>
